#title {
    background-color: #ff4c68;
    color:white;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

nav {
    padding-bottom: 50px;
}
navbar-brand {
    font-weight: 900;
}
/* 
img {
    transform: scale(0.6) rotate(20deg) translateY(-250px) ;
} */

#pricing {
    background-color:lightcyan;
}

.center {
    text-align: center;
}

.price-card {
    width:30%;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    box-sizing: border-box;
    background-color: yellow;
    text-align: center;
}